.view{
    box-shadow: 2px 2px gray;
}

.menu{
    /* background-image: url('https://i.postimg.cc/hPbMyJBX/menu.avif'); */
  
    background-color:  #d4b8c7 ;
    
 

}
.menu button {
    display: flex;
    align-items: center;
    
    
}

.menu button i {
    width: 30px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.menu button span {
    flex-grow: 1;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.btn{
   
    color: white;
}
.card-header{
    background-color: #8f4e70 ;
    color: white;

}

